<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="SurePeople delivers people analytics for individual growth" name="description">
    <meta content="SurePeople" name="author">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="~img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~img/favicon-16x16.png">
    <link rel="manifest" href="~img/site.webmanifest">

    <title>SurePeople</title>

    <!-- Google Tag Manager -->
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-N5XHNT803F"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "G-N5XHNT803F");
    </script>
    <!-- End Google Tag Manager -->

    <!-- SERP Code -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "WebApplication",
            "applicationCategory": "http://schema.org/WebApplication",
            "name": "SurePeople",
            "image": "https://www.surepeople.com/images/logo-serp-surepeople.png",
            "description": "SurePeople is a human capital analytics company that utilizes qualitative and quantitative data to provide predictive insight and decision-making support.",
            "url": "https://www.surepeople.com/",
            "sameAs": [
                "https://www.facebook.com/SurePeopleSocial",
                "https://twitter.com/SurePeople",
                "https://plus.google.com/+Surepeople",
                "https://www.linkedin.com/company/surepeople"
            ],
            "screenshot": "https://www.surepeople.com/images/bg-supported-mobile-devices.png",
            "requirements": "Internet Connection",
            "operatingSystem": "Any desktop or mobile device with an internet connection"
        }
    </script>
    <!-- End SERP Code -->
</head>
<body>

    <div class="cookie-notice js-cookie-notice">
        <p class="paragraph">We use cookies to enhance your experience. By clicking “Accept Cookies” you agree to our use of cookies.</p>
        <div class="buttons">
            <button type="button" class="btn js-cookie-decline">Decline</button>
            <button type="button" class="btn btn-primary js-cookie-accept">Accept</button>
        </div>
    </div>

    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <img src="~img/logo.svg" alt="SurePeople" />
                    </a>
                    <div class="dropdown js-dropdown js-language-selector">
                        <div class="dropdown-toggler js-dropdown-toggler">English</div>
                        <div class="dropdown-menu">
                            <ul class="dropdown-list">
                                <li class="dropdown-list-item active">English (EN)</li>
                                <li class="dropdown-list-item">Spanish (SP)</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="navbar-menu-toggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="navbar-menu">
                    <div class="decor">
                        <img
                            src="~img/ColorsMenu.svg"
                            alt=""
                        />
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="teams.html" class="nav-link">For Teams Leaders</a></li>
                        <li class="nav-item"><a href="enterprise.html" class="nav-link">For Enterprise</a></li>
                        <li class="nav-item"><a href="pricing.html" class="nav-link">Plans & Pricing</a></li>
                    </ul>
                    <div class="navbar-menu-mobile">
                        <ul class="navbar-nav-mobile">
                            <li class="nav-item">
                                <a href="#" class="nav-link js-collapse-menu">Company</a>
                                <div class="collapse-menu">
                                    <ul class="collapse-menu-list">
                                        <li class="collapse-menu-list-item"><a href="about.html" class="collapse-menu-list-link">About</a></li>
                                        <li class="collapse-menu-list-item"><a href="leadership.html" class="collapse-menu-list-link">Leadership</a></li>
                                        <li class="collapse-menu-list-item"><a href="difference.html" class="collapse-menu-list-link">Our Difference</a></li>
                                        <li class="collapse-menu-list-item"><a href="https://www.surepeople.com/community/" class="collapse-menu-list-link">Evolve Blog</a></li>
                                        <li class="collapse-menu-list-item"><a href="https://www.surepeople.com/community/blog/category/company-news/" class="collapse-menu-list-link">News</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link">Sales</a></li>
                            <li class="nav-item"><a href="support.html" class="nav-link">Support</a></li>
                        </ul>
                        <ul class="navbar-nav-buttons">
                            <li class="nav-item"><a href="https://www.surepeople.com/sp/signin/" class="btn btn-primary">Login</a></li>
                            <li class="nav-item"><a href="book-a-demo.html" class="btn btn-blue">Schedule Demo</a></li>
                        </ul>
                        <ul class="navbar-nav-social">
                            <li class="nav-item"><a href="https://www.facebook.com/SurePeopleSocial/" target="_blank"><img src="~img/icons/facebook-2.svg" alt="Facebook" /></a></li>
                            <li class="nav-item"><a href="https://www.linkedin.com/company/surepeople/" target="_blank"><img src="~img/icons/linkedin-2.svg" alt="LinkedIn" /></a></li>
                            <li class="nav-item"><a href="https://twitter.com/SurePeople/" target="_blank"><img src="~img/icons/x-2.svg" alt="X" /></a></li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-actions">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="https://www.surepeople.com/sp/signin/" class="btn btn-primary">Login</a></li>
                        <li class="nav-item"><a href="book-a-demo.html" class="btn btn-blue">Schedule Demo</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="page-wrapper">
        <main>
            <section class="shared-hero">
                <div class="decor">
                    <img
                        class="colors d-none d-md-block"
                        src="~img/enterprise/ColorsHero.svg"
                        alt=""
                    />
                    <img
                        class="colors d-block d-md-none"
                        src="~img/teams/ColorsHero@mobile.svg"
                        alt=""
                    />
                </div>
                <div class="container">
                    <div class="hero-content">
                        <span class="pretitle">Enterprise</span>
                        <h1 class="heading js-reveal-on-scroll js-split-to-lines"><span class="text-gradient">Empower Your Leaders</span><br class="d-none d-md-block"/> to Drive Extraordinary<br class="d-none d-md-block"/> Team Results</h1>
                        <div class="buttons js-reveal-on-scroll">
                            <a href="pricing.html" class="btn btn-lg btn-primary">Schedule Demo</a>
                        </div>
                    </div>
                </div>
                <div class="hero-media">
                    <div class="hero-image">
                        <img
                            class="d-none d-md-block"
                            src="~img/enterprise/enterprise-hero.png"
                            alt=""
                        />
                        <img
                            class="d-block d-md-none"
                            src="~img/enterprise/enterprise-hero@mobile.png"
                            alt=""
                        />
                    </div>
                </div>
            </section>

            <section class="shared-section section-video">
                <div class="decor">
                    <img
                        class="colors d-none d-md-block"
                        src="~img/teams/ColorsVideo.svg"
                        alt=""
                    />
                    <img
                        class="colors d-block d-md-none"
                        src="~img/teams/ColorsVideo@mobile.svg"
                        alt=""
                    />
                </div>
                <div class="container">
                    <div class="content">
                        <h3 class="heading">See Our Team Solution<br/> in Action</h3>
                    </div>
                    <div class="video">
                        <video controls poster="~img/teams/video-solution.png">
                            <source src="~img/teams/video-solution.mp4" type="video/mp4" />
                        </video>
                    </div>
                </div>
            </section>

            <section class="shared-section section-enterprise section-enterprise-1">
                <div class="decor">
                    <img
                        class="colors d-none d-md-block"
                        src="~img/enterprise/ColorsBody1.svg"
                        alt=""
                    />
                    <img
                        class="colors d-block d-md-none"
                        src="~img/enterprise/ColorsBody1@mobile.svg"
                        alt=""
                    />
                </div>
                <div class="container">
                    <div class="layout">
                        <div class="content">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">Unlock the Potential of Every Leader</h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Understand how each team member is uniquely wired across 54 key traits and attributes with Prism, our award-winning psychometric algorithm.</p>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Prism’s science-driven insights accelerate leaders’ and team members’ self-knowledge and understanding of each other; foster trusted productive relationships that drive performance; and help leaders provide coaching around any business challenge when they need it most - in the flow of work.</p>
                        </div>
                        <div class="media js-reveal-on-scroll js-fade-in-up">
                            <div class="lottie-tab-container">
                                <img class="lottie-placeholder" src="~img/enterprise/stack/UnlockPotential.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="shared-section section-enterprise section-enterprise-2">
                <div class="container">
                    <div class="layout">
                        <div class="content order-md-last">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">Incorporate Organizational Values in the Flow of Work   </h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">By incorporating your organization's mission, values, principles, and code of conduct into the Prism algorithm and the Team Leader solution, we ensure that these fundamental elements are not just theoretical concepts but are actively lived out and practiced by every leader and team member in their daily activities.</p>
                        </div>
                        <div class="media js-reveal-on-scroll js-fade-in-up">
                            <div class="lottie-tab-container">
                                <img class="lottie-placeholder offset-10" src="~img/enterprise/stack/Incorporate.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="shared-section section-enterprise section-enterprise-3">
                <div class="container">
                    <div class="layout">
                        <div class="content">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">Fast-track New Employees’ Time-to-Impact</h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Set up every new leader and team member for success from day one with our onboarding capability. Enrich cultural assimilation, accelerate trusted, productive relationships, and increase leadership effectiveness to fast-track new team members’ time-to-impact.</p>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">The Enterprise solution reduces the risk of turnover, disengagement, and performance issues that can cost your organization millions of dollars.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="shared-section section-enterprise section-enterprise-4">
                <div class="container">
                    <div class="layout">
                        <div class="content order-md-last">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">Deliver Personalized People Skills Development – at Scale</h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Provide leaders and their team members with a fully automated, science-driven development journey, personalized based on how each person is wired. Our solution empowers team members to increase self-awareness, master high-impact people skills, including emotional, relational and team intelligence, and grow their leadership capabilities.</p>
                        </div>
                        <div class="media js-reveal-on-scroll js-fade-in-up">
                            <div class="lottie-tab-container">
                                <img class="lottie-placeholder offset-5" src="~img/enterprise/stack/DeliverPersonalized.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="shared-section section-enterprise section-enterprise-5">
                <div class="decor">
                    <img
                        class="colors d-none d-md-block"
                        src="~img/enterprise/ColorsBody5.svg"
                        alt=""
                    />
                    <img
                        class="colors d-block d-md-none"
                        src="~img/enterprise/ColorsBody5@mobile.svg"
                        alt=""
                    />
                </div>
                <div class="container">
                    <div class="layout">
                        <div class="content">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">Harvard Business Publishing</h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Enrich personalized development journeys with seamless access to more than 17,000 top-tier resources and learning programs from Harvard Business Publishing. Harness the collective wisdom of renowned authorities, Harvard academics, and industry thought leaders to support continuous learning and growth.</p>
                        </div>
                        <div class="media js-reveal-on-scroll js-fade-in-up">
                            <div class="lottie-tab-container">
                                <img class="lottie-placeholder" src="~img/enterprise/stack/HarvardBusiness.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="shared-section section-cta">
                <div class="decor">
                    <img
                        class="colors d-none d-md-block"
                        src="~img/teams/ColorsCTA2.svg"
                        alt=""
                    />
                    <img
                        class="colors d-block d-md-none"
                        src="~img/teams/ColorsCTA2@mobile.svg"
                        alt=""
                    />
                </div>
                <img class="hexagon js-reveal-on-scroll js-fade-in" src="~img/teams/Hexagon.svg" alt="" />
                <div class="container">
                    <div class="content">
                        <h3 class="heading js-reveal-on-scroll js-split-to-lines">Ready to Elevate Your Leadership and Achieve Extraordinary Team Results?</h3>
                        <div class="buttons js-reveal-on-scroll">
                            <a href="#" class="btn btn-lg btn-white">Schedule Demo</a>
                            <a href="#" class="btn btn-lg btn-outline-white">Contact Sales</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div class="decor">
                <img
                    class="colors d-none d-md-block"
                    src="~img/ColorsFooter.svg"
                    alt=""
                />
                <img
                    class="colors d-block d-md-none"
                    src="~img/ColorsFooter@mobile.svg"
                    alt=""
                />
            </div>
            <div class="container">
                <div class="footer-layout">
                    <div class="footer-top">
                        <div class="column">
                            <a href="index.html" class="footer-brand">
                                <img src="~img/logo.svg" alt="SurePeople" />
                            </a>
                            <ul class="footer-social">
                                <li><a href="https://www.facebook.com/SurePeopleSocial/" target="_blank"><img src="~img/icons/facebook.svg" alt="Facebook" /></a></li>
                                <li><a href="https://www.linkedin.com/company/surepeople/" target="_blank"><img src="~img/icons/linkedin.svg" alt="LinkedIn" /></a></li>
                                <li><a href="https://twitter.com/SurePeople/" target="_blank"><img src="~img/icons/x.svg" alt="X" /></a></li>
                                <li><a href="https://www.youtube.com/c/SurePeople/" target="_blank"><img src="~img/icons/youtube.svg" alt="YouTube" /></a></li>
                            </ul>
                        </div>
                        <div class="column">
                            <div class="footer-language d-none d-md-flex">
                                <div class="label">Language</div>
                                <div class="dropdown js-dropdown js-language-selector">
                                    <div class="dropdown-toggler js-dropdown-toggler">English</div>
                                    <div class="dropdown-menu">
                                        <ul class="dropdown-list">
                                            <li class="dropdown-list-item active">English</li>
                                            <li class="dropdown-list-item">Spanish</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-stores">
                                <a href="#">
                                    <img src="~img/icons/app-store.svg" alt="Download on the App Store" />
                                </a>
                                <a href="#">
                                    <img src="~img/icons/google-play.svg" alt="Get it on Google Play" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <h6 class="footer-title">Company</h6>
                        <ul class="footer-links">
                            <li><a href="about.html">About</a></li>
                            <li><a href="leadership.html">Leadership</a></li>
                            <li><a href="difference.html">Our Difference</a></li>
                            <li><a href="https://www.surepeople.com/community/">Evolve Blog</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h6 class="footer-title">Sales</h6>
                        <ul class="footer-links">
                            <li><a href="contact.html">Contact Sales</a></li>
                            <li><a href="pricing.html">Plans & Pricing</a></li>
                            <li><a href="partners.html">Let's Partner</a></li>
                            <li><a href="book-a-demo.html">Schedule Demo</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h6 class="footer-title">Support</h6>
                        <ul class="footer-links">
                            <li><a href="support.html">Support Center</a></li>
                            <li><a href="feedback.html">Feedback</a></li>
                            <li><a href="#">Mobile App Downloads</a></li>
                            <li><a href="trust-center.html">Trust Center</a></li>
                        </ul>
                    </div>
                    <div class="footer-bottom">
                        <div class="footer-copyright">
                            <p class="paragraph">Copyright&copy; 2024 SurePeopIe, Inc. All Rights Reserved.</p>
                        </div>
                        <ul class="footer-links-small">
                            <li><a href="privacy.html">Privacy</a></li>
                            <li><a href="#">User Agreement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>