<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="SurePeople delivers people analytics for individual growth" name="description">
    <meta content="SurePeople" name="author">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="~img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~img/favicon-16x16.png">
    <link rel="manifest" href="~img/site.webmanifest">

    <title>SurePeople</title>

    <!-- Google Tag Manager -->
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-N5XHNT803F"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "G-N5XHNT803F");
    </script>
    <!-- End Google Tag Manager -->

    <!-- SERP Code -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "WebApplication",
            "applicationCategory": "http://schema.org/WebApplication",
            "name": "SurePeople",
            "image": "https://www.surepeople.com/images/logo-serp-surepeople.png",
            "description": "SurePeople is a human capital analytics company that utilizes qualitative and quantitative data to provide predictive insight and decision-making support.",
            "url": "https://www.surepeople.com/",
            "sameAs": [
                "https://www.facebook.com/SurePeopleSocial",
                "https://twitter.com/SurePeople",
                "https://plus.google.com/+Surepeople",
                "https://www.linkedin.com/company/surepeople"
            ],
            "screenshot": "https://www.surepeople.com/images/bg-supported-mobile-devices.png",
            "requirements": "Internet Connection",
            "operatingSystem": "Any desktop or mobile device with an internet connection"
        }
    </script>
    <!-- End SERP Code -->
</head>
<body>

    <div class="cookie-notice js-cookie-notice">
        <p class="paragraph">We use cookies to enhance your experience. By clicking “Accept Cookies” you agree to our use of cookies.</p>
        <div class="buttons">
            <button type="button" class="btn js-cookie-decline">Decline</button>
            <button type="button" class="btn btn-primary js-cookie-accept">Accept</button>
        </div>
    </div>

    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <img src="~img/logo.svg" alt="SurePeople" />
                    </a>
                    <div class="dropdown js-dropdown js-language-selector">
                        <div class="dropdown-toggler js-dropdown-toggler">English</div>
                        <div class="dropdown-menu">
                            <ul class="dropdown-list">
                                <li class="dropdown-list-item active">English (EN)</li>
                                <li class="dropdown-list-item">Spanish (SP)</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="navbar-menu-toggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="navbar-menu">
                    <div class="decor">
                        <img
                            src="~img/ColorsMenu.svg"
                            alt=""
                        />
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="teams.html" class="nav-link">For Teams Leaders</a></li>
                        <li class="nav-item"><a href="enterprise.html" class="nav-link">For Enterprise</a></li>
                        <li class="nav-item"><a href="pricing.html" class="nav-link">Plans & Pricing</a></li>
                    </ul>
                    <div class="navbar-menu-mobile">
                        <ul class="navbar-nav-mobile">
                            <li class="nav-item">
                                <a href="#" class="nav-link js-collapse-menu">Company</a>
                                <div class="collapse-menu">
                                    <ul class="collapse-menu-list">
                                        <li class="collapse-menu-list-item"><a href="about.html" class="collapse-menu-list-link">About</a></li>
                                        <li class="collapse-menu-list-item"><a href="leadership.html" class="collapse-menu-list-link">Leadership</a></li>
                                        <li class="collapse-menu-list-item"><a href="difference.html" class="collapse-menu-list-link">Our Difference</a></li>
                                        <li class="collapse-menu-list-item"><a href="https://www.surepeople.com/community/" class="collapse-menu-list-link">Evolve Blog</a></li>
                                        <li class="collapse-menu-list-item"><a href="https://www.surepeople.com/community/blog/category/company-news/" class="collapse-menu-list-link">News</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link">Sales</a></li>
                            <li class="nav-item"><a href="support.html" class="nav-link">Support</a></li>
                        </ul>
                        <ul class="navbar-nav-buttons">
                            <li class="nav-item"><a href="https://www.surepeople.com/sp/signin/" class="btn btn-primary">Login</a></li>
                            <li class="nav-item"><a href="book-a-demo.html" class="btn btn-blue">Schedule Demo</a></li>
                        </ul>
                        <ul class="navbar-nav-social">
                            <li class="nav-item"><a href="https://www.facebook.com/SurePeopleSocial/" target="_blank"><img src="~img/icons/facebook-2.svg" alt="Facebook" /></a></li>
                            <li class="nav-item"><a href="https://www.linkedin.com/company/surepeople/" target="_blank"><img src="~img/icons/linkedin-2.svg" alt="LinkedIn" /></a></li>
                            <li class="nav-item"><a href="https://twitter.com/SurePeople/" target="_blank"><img src="~img/icons/x-2.svg" alt="X" /></a></li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-actions">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="https://www.surepeople.com/sp/signin/" class="btn btn-primary">Login</a></li>
                        <li class="nav-item"><a href="book-a-demo.html" class="btn btn-blue">Schedule Demo</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="page-wrapper">
        <main>
            <section class="shared-hero">
                <div class="line-draw js-draw-path">
                    <svg class="d-none d-md-block" viewBox="0 0 1467 137" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-78 132.155C-64 104.488 -16.8 49.5547 60 51.1547C156 53.1547 154 61.0506 272 95.1547C445 145.155 492 158.155 585 76.1547C606 51.1547 569.5 16.2336 548 24.1547C529 31.1547 538.5 79.1547 601 82.1547C641 82.1547 655 79.1547 726 31.1547C797 -16.8453 912.64 5.11478 944 12.1547C968.5 17.6547 1154 72.7157 1201 76.1547C1242 79.1547 1379 67.1547 1467 12.1547" stroke="black" stroke-width="2"/>
                    </svg>
                    <svg class="d-block d-md-none" viewBox="0 0 375 128" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 126.629C24.989 117.713 49.3048 101.456 78 76.1547C99 51.1547 62.5 16.2336 41 24.1547C22 31.1547 31.5 79.1547 94 82.1547C134 82.1547 148 79.1547 219 31.1547C264.008 0.7265 326.956 -1.58785 375 2.58886" stroke="black" stroke-width="2"/>
                    </svg>
                </div>
                <div class="decor">
                    <img
                        class="colors d-none d-md-block"
                        src="~img/teams/ColorsHero.svg"
                        alt=""
                    />
                    <img
                        class="colors d-block d-md-none"
                        src="~img/teams/ColorsHero@mobile.svg"
                        alt=""
                    />
                </div>
                <div class="container">
                    <div class="hero-content">
                        <span class="pretitle js-reveal-on-scroll">Partnership</span>
                        <h1 class="heading js-reveal-on-scroll js-split-to-lines">Our partner program<br class="d-none d-md-block"/> enables, supports and<br class="d-none d-md-block"/>
                            <span class="highlight">
                                <svg class="js-draw-path" width="328" height="119" viewBox="0 0 328 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M229.987 1C252.557 10.4759 282.191 26.9161 292.148 57.5818C302.323 88.9189 251.867 105.679 232.395 110.194C190.863 119.824 143.71 119.7 101.324 114.389C80.5738 111.789 60.747 109.745 40.5942 103.739C24.8931 99.0593 21.0621 95.9322 7.63722 84.2664C2.02469 77.2904 -0.604396 65.0108 2.02469 57.5818C10.2352 34.3809 39.2688 26.4211 57.126 22.9367C114.573 11.7268 170.697 14.6355 229.256 18.2047C246.926 19.2817 273.989 20.9865 292.527 25.5829C310.378 30.0096 308.797 28.4185 327 36.3947" stroke="#131316" stroke-width="2" stroke-linecap="round"/>
                                </svg>
                                grows
                            </span>
                            your business.
                        </h1>
                    </div>
                </div>
                <div class="scroll-down">
                    <a href="#section-partner-opportunities" class="scroll-down-button js-smooth-scroll-to"><img src="~img/icons/arrow-narrow-down.svg" alt="" /></a>
                </div>
            </section>

            <section id="section-partner-opportunities" class="shared-section section-opportunities scrollTrigger-scroller">
                <div class="decor">
                    <img
                        class="colors d-none d-md-block"
                        src="~img/partners/ColorsOpportunities.svg"
                        alt=""
                    />
                    <img
                        class="colors d-block d-md-none"
                        src="~img/partners/ColorsOpportunities@mobile.svg"
                        alt=""
                    />
                </div>
                <div class="container">
                    <div class="shared-heading text-center d-none d-md-block">
                        <h3 class="heading js-reveal-on-scroll js-split-to-lines">Partnership Opportunities</h3>
                    </div>
                    <div class="tab-layout">
                        <nav class="tab-navigation js-reveal-on-scroll">
                            <ul class="tab-navigation-menu">
                                <li class="tab-navigation-item">
                                    <a href="#" class="tab-navigation-link">Learning Solutions</a>
                                </li>
                                <li class="tab-navigation-item">
                                    <a href="#" class="tab-navigation-link">Coaching solutions</a>
                                </li>
                                <li class="tab-navigation-item">
                                    <a href="#" class="tab-navigation-link">Consulting</a>
                                </li>
                                <li class="tab-navigation-item">
                                    <a href="#" class="tab-navigation-link">Resellers & Integrators</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="tab-container js-reveal-on-scroll">
                            <div class="tab-item">
                                <div class="layout">
                                    <div class="content">
                                        <span class="category"><span class="no">1</span> Opportunity</span>
                                        <h4 class="title">LMS, LXP and HCM Technologies</h4>
                                        <p class="paragraph">Seamlessly integrate our patented platform to enhance your LMS, LXP, HCM suite, or work tech offering. Our Prism<span><sup>&reg;</sup></span> algorithm helps differentiate your solution while increasing end-users adoption, engagement, and satisfaction.</p>
                                    </div>
                                    <div class="media">
                                        <div class="lottie-tab-container">
                                            <div class="lottie-animation-container" data-animation-json="~img/partners/lottie/01_PC.json"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-item">
                                <div class="layout">
                                    <div class="content">
                                        <span class="category"><span class="no">2</span> Opportunity</span>
                                        <h4 class="title">Business Consultants, Executive Coaches & Trainers</h4>
                                        <p class="paragraph">Our science-driven solutions increase your influence, client impact, and revenues. Options for growing new business include leveraging our platform in your consulting, coaching, or training work; getting certified on our Prism<span><sup>&reg;</sup></span> algorithm; and/or, introducing our solutions to your clients to participate in partner referral fees. Certified Prism<span><sup>&reg;</sup></span> coaches are granted continuing education credits by the International Coaches Federation (ICF) and promoted throughout the SurePeople ecosystem.</p>
                                    </div>
                                    <div class="media">
                                        <div class="lottie-tab-container">
                                            <div class="lottie-animation-container" data-animation-json="~img/partners/lottie/02_woman.json"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-item">
                                <div class="layout">
                                    <div class="content">
                                        <span class="category"><span class="no">3</span> Opportunity</span>
                                        <h4 class="title">Consulting Firms</h4>
                                        <p class="paragraph">Whether HR tech, M&A, or digital transformation, all successful change begins and ends with people. Our solutions uniquely empower distributed or hybrid teams in any stage of their formation or development. Learn how we can help your consulting firm build higher-performing teams, optimize client engagements, and increase client impact.</p>
                                    </div>
                                    <div class="media">
                                        <div class="lottie-tab-container">
                                            <div class="lottie-animation-container" data-animation-json="~img/partners/lottie/03_people.json"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-item">
                                <div class="layout">
                                    <div class="content">
                                        <span class="category"><span class="no">4</span> Opportunity</span>
                                        <h4 class="title">Value-Added Resellers (VARs) & System Integrators</h4>
                                        <p class="paragraph">We partner with select channel distributors and system integrators on a sell-through or sell-with basis. We offer your sales and implementation teams proven solutions powered by SurePeople. Contact us to learn how we can help you grow profitable sales.</p>
                                    </div>
                                    <div class="media">
                                        <div class="lottie-tab-container">
                                            <div class="lottie-animation-container" data-animation-json="~img/partners/lottie/04_lines.json"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

<!--            <section class="shared-section section-opportunities pb-0">-->
<!--                <div class="decor">-->
<!--                    <img-->
<!--                        class="colors d-none d-md-block"-->
<!--                        src="~img/partners/opportunities/ColorsOpportunities1.svg"-->
<!--                        alt=""-->
<!--                    />-->
<!--                    <img-->
<!--                        class="colors d-block d-md-none"-->
<!--                        src="~img/partners/opportunities/ColorsOpportunities1@mobile.svg"-->
<!--                        alt=""-->
<!--                    />-->
<!--                </div>-->
<!--                <div class="container">-->
<!--                    <div class="shared-heading text-center d-none d-md-block">-->
<!--                        <h3 class="heading js-reveal-on-scroll js-split-to-lines">Partnership Opportunities</h3>-->
<!--                    </div>-->
<!--                    <div class="masonry-layout">-->
<!--                        <div class="item">-->
<!--                            <div class="decor">-->
<!--                                <img-->
<!--                                    class="colors d-none d-md-block"-->
<!--                                    src="~img/partners/opportunities/ColorsOpportunities2.svg"-->
<!--                                    alt=""-->
<!--                                />-->
<!--                                <img-->
<!--                                    class="colors d-block d-md-none"-->
<!--                                    src="~img/partners/opportunities/ColorsOpportunities2@mobile.svg"-->
<!--                                    alt=""-->
<!--                                />-->
<!--                            </div>-->
<!--                            <div class="media">-->
<!--                                <div class="image">-->
<!--                                    <img-->
<!--                                        width="616" height="334"-->
<!--                                        src="~img/partners/learning-solutions-1.svg"-->
<!--                                        alt=""-->
<!--                                    />-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <span class="category js-reveal-on-scroll js-split-to-lines">Opportunity</span>-->
<!--                                <h4 class="title js-reveal-on-scroll js-split-to-lines">LMS, LXP and HCM Technologies</h4>-->
<!--                                <p class="paragraph js-reveal-on-scroll js-split-to-lines">Seamlessly integrate our patented platform to enhance your LMS, LXP, HCM suite or work tech offering. Our Prism<span><sup>&reg;</sup></span> algorithm helps differentiate your solution, while increasing end-users’ adoption, engagement and satisfaction.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="decor">-->
<!--                                <img-->
<!--                                    class="colors d-none d-md-block"-->
<!--                                    src="~img/partners/opportunities/ColorsOpportunities3.svg"-->
<!--                                    alt=""-->
<!--                                />-->
<!--                                <img-->
<!--                                    class="colors d-block d-md-none"-->
<!--                                    src="~img/partners/opportunities/ColorsOpportunities3@mobile.svg"-->
<!--                                    alt=""-->
<!--                                />-->
<!--                            </div>-->
<!--                            <div class="media">-->
<!--                                <div class="image">-->
<!--                                    <img-->
<!--                                        width="616" height="334"-->
<!--                                        src="~img/partners/learning-solutions-3.svg"-->
<!--                                        alt=""-->
<!--                                    />-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <span class="category js-reveal-on-scroll js-split-to-lines">Opportunity</span>-->
<!--                                <h4 class="title js-reveal-on-scroll js-split-to-lines">Business Consultants, Executive Coaches & Trainers</h4>-->
<!--                                <p class="paragraph js-reveal-on-scroll js-split-to-lines">Our science-driven solutions increase your influence, client impact and revenues. Options for growing new business include leveraging our platform in your consulting, coaching or training work; getting certified on our Prism <span><sup>&reg;</sup></span> algorithm; and/or, introducing our solutions to your clients to participate in partner referral fees. Certified Prism <span><sup>&reg;</sup></span> coaches are granted continuing education credits by the International Coaches Federation (ICF) and promoted throughout the SurePeople ecosystem.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="decor">-->
<!--                                <img-->
<!--                                    class="colors d-none d-md-block"-->
<!--                                    src="~img/partners/opportunities/ColorsOpportunities4.svg"-->
<!--                                    alt=""-->
<!--                                />-->
<!--                                <img-->
<!--                                    class="colors d-block d-md-none"-->
<!--                                    src="~img/partners/opportunities/ColorsOpportunities4@mobile.svg"-->
<!--                                    alt=""-->
<!--                                />-->
<!--                            </div>-->
<!--                            <div class="media">-->
<!--                                <div class="image">-->
<!--                                    <img-->
<!--                                        width="616" height="334"-->
<!--                                        src="~img/partners/learning-solutions-2.svg"-->
<!--                                        alt=""-->
<!--                                    />-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <span class="category js-reveal-on-scroll js-split-to-lines">Opportunity</span>-->
<!--                                <h4 class="title js-reveal-on-scroll js-split-to-lines">Consulting Firms</h4>-->
<!--                                <p class="paragraph js-reveal-on-scroll js-split-to-lines">Whether HR tech, M&A, or digital transformation, all successful change begins and ends with people. Our solutions uniquely empower distributed or hybrid teams in any stage of their formation or development. Learn how we can help your consulting firm build higher-performing teams, optimize client engagements and increase client impact with the Platform.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="item">-->
<!--                            <div class="decor">-->
<!--                                <img-->
<!--                                    class="colors d-none d-md-block"-->
<!--                                    src="~img/partners/opportunities/ColorsOpportunities5.svg"-->
<!--                                    alt=""-->
<!--                                />-->
<!--                                <img-->
<!--                                    class="colors d-block d-md-none"-->
<!--                                    src="~img/partners/opportunities/ColorsOpportunities5@mobile.svg"-->
<!--                                    alt=""-->
<!--                                />-->
<!--                            </div>-->
<!--                            <div class="media">-->
<!--                                <div class="image">-->
<!--                                    <img-->
<!--                                        width="616" height="334"-->
<!--                                        src="~img/partners/learning-solutions-4.svg"-->
<!--                                        alt=""-->
<!--                                    />-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <span class="category js-reveal-on-scroll js-split-to-lines">Opportunity</span>-->
<!--                                <h4 class="title js-reveal-on-scroll js-split-to-lines">Value-Added Resellers (VARs) & System Integrators</h4>-->
<!--                                <p class="paragraph js-reveal-on-scroll js-split-to-lines">We partner with select channel distributors and system integrators on a sell-through or sell-with basis. We offer your sales and implementation teams proven solutions powered by SurePeople. Contact us to learn how we can help you grow profitable sales.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </section>-->

<!--            <section class="shared-section section-solutions">-->
<!--                <div class="decor">-->
<!--                    <img-->
<!--                        class="colors d-none d-md-block"-->
<!--                        src="~img/partners/ColorsSolutions.svg"-->
<!--                        alt=""-->
<!--                    />-->
<!--                    <img-->
<!--                        class="colors d-block d-md-none"-->
<!--                        src="~img/partners/ColorsSolutions@mobile.svg"-->
<!--                        alt=""-->
<!--                    />-->
<!--                </div>-->
<!--                <div class="container">-->
<!--                    <div class="shared-heading text-center">-->
<!--                        <h3 class="heading js-reveal-on-scroll js-split-to-lines">Have a specific need? We have a solution</h3>-->
<!--                        <p class="paragraph paragraph-xxl js-reveal-on-scroll js-split-to-lines">Our values represent the deeply held ideals and behaviors that we share at SurePeople to positively impact our employees, customers and partners.</p>-->
<!--                    </div>-->
<!--                    <div class="solutions-grid">-->
<!--                        <div class="card js-reveal-on-scroll js-reveal-batch">-->
<!--                            <div class="background"></div>-->
<!--                            <div class="icon">-->
<!--                                <img src="~img/partners/icons/solutions-1.svg" alt="" />-->
<!--                            </div>-->
<!--                            <h6 class="title">Executive & Leader Onboarding</h6>-->
<!--                            <p class="paragraph">Empower team leaders to align, develop, and optimize their teams.</p>-->
<!--                        </div>-->
<!--                        <div class="card js-reveal-on-scroll js-reveal-batch">-->
<!--                            <div class="background"></div>-->
<!--                            <div class="icon">-->
<!--                                <img src="~img/partners/icons/solutions-2.svg" alt="" />-->
<!--                            </div>-->
<!--                            <h6 class="title">Team Alignment & Optimization</h6>-->
<!--                            <p class="paragraph">Accelerate speed-to-relationships and enrich cultural assimilation.</p>-->
<!--                        </div>-->
<!--                        <div class="card js-reveal-on-scroll js-reveal-batch">-->
<!--                            <div class="background"></div>-->
<!--                            <div class="icon">-->
<!--                                <img src="~img/partners/icons/solutions-3.svg" alt="" />-->
<!--                            </div>-->
<!--                            <h6 class="title">People Skills Development</h6>-->
<!--                            <p class="paragraph">Improve the skills that most impact personal and professional life.</p>-->
<!--                        </div>-->
<!--                        <div class="card js-reveal-on-scroll js-reveal-batch">-->
<!--                            <div class="background"></div>-->
<!--                            <div class="icon">-->
<!--                                <img src="~img/partners/icons/solutions-4.svg" alt="" />-->
<!--                            </div>-->
<!--                            <h6 class="title">Change & Disruption Management</h6>-->
<!--                            <p class="paragraph">Ensure successful mergers, acquisitions, and digital transformations.</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </section>-->

            <section class="shared-section section-cta">
                <div class="decor js-reveal-cta">
                    <img
                        class="colors d-none d-md-block"
                        src="~img/partners/ColorsCTA.svg"
                        alt=""
                    />
                    <img
                        class="colors d-block d-md-none"
                        src="~img/partners/ColorsCTA@mobile.svg"
                        alt=""
                    />
                </div>
                <div class="container">
                    <div class="cta-layout">
                        <div class="hexagon js-reveal-cta">
                            <img src="~img/partners/HexagonCTA.svg" alt="" />
                        </div>
                        <div class="content">
                            <span class="pre js-reveal-on-scroll js-split-to-lines">Partner with us</span>
                            <h3 class="heading js-reveal-on-scroll js-split-to-lines">Interested in becoming a partner?</h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Explore partnership opportunities today!</p>
                            <div class="buttons">
                                <div class="line-draw js-draw-path">
                                    <svg width="131" height="226" viewBox="0 0 131 226" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M130.5 1C119.354 1.67267 95.4417 15.5297 88.957 65.5766M88.957 65.5766C82.4722 115.623 97.5695 117.036 104.156 112.495C110.742 105.937 105.979 89.7928 88.957 65.5766ZM88.957 65.5766C77.9801 47.7508 48.9338 17.4468 20.5629 38.8378C-14.9006 65.5766 7.39075 115.018 13.9768 126.117C20.5629 137.216 59.5728 190.189 124.927 216.928M124.927 216.928L111.755 182.117M124.927 216.928L84.9039 225" stroke="#FAFAFA" stroke-width="2" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <a href="#" class="btn btn-lg btn-white js-reveal-on-scroll">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div class="decor">
                <img
                    class="colors d-none d-md-block"
                    src="~img/ColorsFooter.svg"
                    alt=""
                />
                <img
                    class="colors d-block d-md-none"
                    src="~img/ColorsFooter@mobile.svg"
                    alt=""
                />
            </div>
            <div class="container">
                <div class="footer-layout">
                    <div class="footer-top">
                        <div class="column">
                            <a href="index.html" class="footer-brand">
                                <img src="~img/logo.svg" alt="SurePeople" />
                            </a>
                            <ul class="footer-social">
                                <li><a href="https://www.facebook.com/SurePeopleSocial/" target="_blank"><img src="~img/icons/facebook.svg" alt="Facebook" /></a></li>
                                <li><a href="https://www.linkedin.com/company/surepeople/" target="_blank"><img src="~img/icons/linkedin.svg" alt="LinkedIn" /></a></li>
                                <li><a href="https://twitter.com/SurePeople/" target="_blank"><img src="~img/icons/x.svg" alt="X" /></a></li>
                                <li><a href="https://www.youtube.com/c/SurePeople/" target="_blank"><img src="~img/icons/youtube.svg" alt="YouTube" /></a></li>
                            </ul>
                        </div>
                        <div class="column">
                            <div class="footer-language d-none d-md-flex">
                                <div class="label">Language</div>
                                <div class="dropdown js-dropdown js-language-selector">
                                    <div class="dropdown-toggler js-dropdown-toggler">English</div>
                                    <div class="dropdown-menu">
                                        <ul class="dropdown-list">
                                            <li class="dropdown-list-item active">English</li>
                                            <li class="dropdown-list-item">Spanish</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-stores">
                                <a href="#">
                                    <img src="~img/icons/app-store.svg" alt="Download on the App Store" />
                                </a>
                                <a href="#">
                                    <img src="~img/icons/google-play.svg" alt="Get it on Google Play" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <h6 class="footer-title">Company</h6>
                        <ul class="footer-links">
                            <li><a href="about.html">About</a></li>
                            <li><a href="leadership.html">Leadership</a></li>
                            <li><a href="difference.html">Our Difference</a></li>
                            <li><a href="https://www.surepeople.com/community/">Evolve Blog</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h6 class="footer-title">Sales</h6>
                        <ul class="footer-links">
                            <li><a href="contact.html">Contact Sales</a></li>
                            <li><a href="pricing.html">Plans & Pricing</a></li>
                            <li><a href="partners.html">Let's Partner</a></li>
                            <li><a href="book-a-demo.html">Schedule Demo</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h6 class="footer-title">Support</h6>
                        <ul class="footer-links">
                            <li><a href="support.html">Support Center</a></li>
                            <li><a href="feedback.html">Feedback</a></li>
                            <li><a href="#">Mobile App Downloads</a></li>
                            <li><a href="trust-center.html">Trust Center</a></li>
                        </ul>
                    </div>
                    <div class="footer-bottom">
                        <div class="footer-copyright">
                            <p class="paragraph">Copyright&copy; 2024 SurePeopIe, Inc. All Rights Reserved.</p>
                        </div>
                        <ul class="footer-links-small">
                            <li><a href="privacy.html">Privacy</a></li>
                            <li><a href="#">User Agreement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>