<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="SurePeople delivers people analytics for individual growth" name="description">
    <meta content="SurePeople" name="author">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="~img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~img/favicon-16x16.png">
    <link rel="manifest" href="~img/site.webmanifest">

    <title>SurePeople</title>

    <!-- Google Tag Manager -->
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-N5XHNT803F"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());
        gtag("config", "G-N5XHNT803F");
    </script>
    <!-- End Google Tag Manager -->

    <!-- SERP Code -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org/",
            "@type": "WebApplication",
            "applicationCategory": "http://schema.org/WebApplication",
            "name": "SurePeople",
            "image": "https://www.surepeople.com/images/logo-serp-surepeople.png",
            "description": "SurePeople is a human capital analytics company that utilizes qualitative and quantitative data to provide predictive insight and decision-making support.",
            "url": "https://www.surepeople.com/",
            "sameAs": [
                "https://www.facebook.com/SurePeopleSocial",
                "https://twitter.com/SurePeople",
                "https://plus.google.com/+Surepeople",
                "https://www.linkedin.com/company/surepeople"
            ],
            "screenshot": "https://www.surepeople.com/images/bg-supported-mobile-devices.png",
            "requirements": "Internet Connection",
            "operatingSystem": "Any desktop or mobile device with an internet connection"
        }
    </script>
    <!-- End SERP Code -->
</head>
<body>

    <div class="cookie-notice js-cookie-notice">
        <p class="paragraph">We use cookies to enhance your experience. By clicking “Accept Cookies” you agree to our use of cookies.</p>
        <div class="buttons">
            <button type="button" class="btn js-cookie-decline">Decline</button>
            <button type="button" class="btn btn-primary js-cookie-accept">Accept</button>
        </div>
    </div>

    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="index.html" class="navbar-brand">
                        <img src="~img/logo.svg" alt="SurePeople" />
                    </a>
                    <div class="dropdown js-dropdown js-language-selector">
                        <div class="dropdown-toggler js-dropdown-toggler">English</div>
                        <div class="dropdown-menu">
                            <ul class="dropdown-list">
                                <li class="dropdown-list-item active">English (EN)</li>
                                <li class="dropdown-list-item">Spanish (SP)</li>
                            </ul>
                        </div>
                    </div>
                    <button type="button" class="navbar-menu-toggler">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="navbar-menu">
                    <div class="decor">
                        <img
                            src="~img/ColorsMenu.svg"
                            alt=""
                        />
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="teams.html" class="nav-link">Team Leaders</a></li>
                        <li class="nav-item"><a href="enterprise.html" class="nav-link">Enterprise Solution</a></li>
                        <li class="nav-item"><a href="pricing.html" class="nav-link">Plans & Pricing</a></li>
                    </ul>
                    <div class="navbar-menu-mobile">
                        <ul class="navbar-nav-mobile">
                            <li class="nav-item">
                                <a href="#" class="nav-link js-collapse-menu">Company</a>
                                <div class="collapse-menu">
                                    <ul class="collapse-menu-list">
                                        <li class="collapse-menu-list-item"><a href="about.html" class="collapse-menu-list-link">About</a></li>
                                        <li class="collapse-menu-list-item"><a href="leadership.html" class="collapse-menu-list-link">Leadership</a></li>
                                        <li class="collapse-menu-list-item"><a href="difference.html" class="collapse-menu-list-link">Our Difference</a></li>
                                        <li class="collapse-menu-list-item"><a href="https://www.surepeople.com/community/" class="collapse-menu-list-link">Evolve Blog</a></li>
                                        <li class="collapse-menu-list-item"><a href="https://www.surepeople.com/community/blog/category/company-news/" class="collapse-menu-list-link">News</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item"><a href="#" class="nav-link">Sales</a></li>
                            <li class="nav-item"><a href="support.html" class="nav-link">Support</a></li>
                        </ul>
                        <ul class="navbar-nav-buttons">
                            <li class="nav-item"><a href="https://www.surepeople.com/sp/signin/" class="btn btn-primary">Login</a></li>
                            <li class="nav-item"><a href="book-a-demo.html" class="btn btn-blue">Schedule Demo</a></li>
                        </ul>
                        <ul class="navbar-nav-social">
                            <li class="nav-item"><a href="https://www.facebook.com/SurePeopleSocial/" target="_blank"><img src="~img/icons/facebook-2.svg" alt="Facebook" /></a></li>
                            <li class="nav-item"><a href="https://www.linkedin.com/company/surepeople/" target="_blank"><img src="~img/icons/linkedin-2.svg" alt="LinkedIn" /></a></li>
                            <li class="nav-item"><a href="https://twitter.com/SurePeople/" target="_blank"><img src="~img/icons/x-2.svg" alt="X" /></a></li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-actions">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="https://www.surepeople.com/sp/signin/" class="btn btn-primary">Login</a></li>
                        <li class="nav-item"><a href="book-a-demo.html" class="btn btn-blue">Schedule Demo</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="page-wrapper">
        <main>
            <section class="shared-hero">
                <div class="decor">
                    <img
                        class="colors d-none d-md-block"
                        src="~img/teams/ColorsHero.svg"
                        alt=""
                    />
                    <img
                        class="colors d-block d-md-none"
                        src="~img/teams/ColorsHero@mobile.svg"
                        alt=""
                    />
                </div>
                <div class="container">
                    <div class="hero-content">
                        <h1 class="heading js-reveal-on-scroll js-split-to-lines"><span class="text-gradient">Empower Your Team</span> to Drive Extraordinary Results</h1>
                        <p class="paragraph paragraph-xxl js-reveal-on-scroll js-split-to-lines">In the Flow of Work, When You Need It Most</p>
                        <div class="buttons js-reveal-on-scroll">
                            <a href="pricing.html" class="btn btn-lg btn-primary">Subscribe Now</a>
                        </div>
                    </div>
                    <div class="swiper-carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="carousel-slide">
                                    <div class="image">
                                        <img
                                            width="303" height="657"
                                            src="~img/teams/carousel/carousel-slide-4@1x.png"
                                            srcset="~img/teams/carousel/carousel-slide-4@1x.png 1x, ~img/teams/carousel/carousel-slide-4@2x.png 2x"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-slide">
                                    <div class="image">
                                        <img
                                            width="303" height="657"
                                            src="~img/teams/carousel/carousel-slide-5@1x.png"
                                            srcset="~img/teams/carousel/carousel-slide-5@1x.png 1x, ~img/teams/carousel/carousel-slide-5@2x.png 2x"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-slide">
                                    <div class="image">
                                        <img
                                            width="303" height="657"
                                            src="~img/teams/carousel/carousel-slide-1@1x.png"
                                            srcset="~img/teams/carousel/carousel-slide-1@1x.png 1x, ~img/teams/carousel/carousel-slide-1@2x.png 2x"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-slide">
                                    <div class="image">
                                        <img
                                            width="303" height="657"
                                            src="~img/teams/carousel/carousel-slide-2@1x.png"
                                            srcset="~img/teams/carousel/carousel-slide-2@1x.png 1x, ~img/teams/carousel/carousel-slide-2@2x.png 2x"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-slide">
                                    <div class="image">
                                        <img
                                            width="303" height="657"
                                            src="~img/teams/carousel/carousel-slide-3@1x.png"
                                            srcset="~img/teams/carousel/carousel-slide-3@1x.png 1x, ~img/teams/carousel/carousel-slide-3@2x.png 2x"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-slide">
                                    <div class="image">
                                        <img
                                            width="303" height="657"
                                            src="~img/teams/carousel/carousel-slide-4@1x.png"
                                            srcset="~img/teams/carousel/carousel-slide-4@1x.png 1x, ~img/teams/carousel/carousel-slide-4@2x.png 2x"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-slide">
                                    <div class="image">
                                        <img
                                            width="303" height="657"
                                            src="~img/teams/carousel/carousel-slide-5@1x.png"
                                            srcset="~img/teams/carousel/carousel-slide-5@1x.png 1x, ~img/teams/carousel/carousel-slide-5@2x.png 2x"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-slide">
                                    <div class="image">
                                        <img
                                            width="303" height="657"
                                            src="~img/teams/carousel/carousel-slide-1@1x.png"
                                            srcset="~img/teams/carousel/carousel-slide-1@1x.png 1x, ~img/teams/carousel/carousel-slide-1@2x.png 2x"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-slide">
                                    <div class="image">
                                        <img
                                            width="303" height="657"
                                            src="~img/teams/carousel/carousel-slide-2@1x.png"
                                            srcset="~img/teams/carousel/carousel-slide-2@1x.png 1x, ~img/teams/carousel/carousel-slide-2@2x.png 2x"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="carousel-slide">
                                    <div class="image">
                                        <img
                                            width="303" height="657"
                                            src="~img/teams/carousel/carousel-slide-3@1x.png"
                                            srcset="~img/teams/carousel/carousel-slide-3@1x.png 1x, ~img/teams/carousel/carousel-slide-3@2x.png 2x"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="shared-section section-video">
                <div class="decor">
                    <img
                        class="colors d-none d-md-block"
                        src="~img/teams/ColorsVideo.svg"
                        alt=""
                    />
                    <img
                        class="colors d-block d-md-none"
                        src="~img/teams/ColorsVideo@mobile.svg"
                        alt=""
                    />
                </div>
                <div class="container">
                    <div class="content">
                        <h3 class="heading">See Our Team Solution<br/> in Action</h3>
                    </div>
                    <div class="video">
                        <video controls>
                            <source src="~img/teams/video-solution.mp4" type="video/mp4" />
                        </video>
                    </div>
                </div>
            </section>

            <section class="shared-section section-teams">
                <div class="container">
                    <div class="teams-layout teams-layout-1">
                        <div class="content">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">Unlock Extraordinary Leadership with the Power of Self-Knowledge</h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Understand how you – and each team member – are uniquely wired across 54 key traits and attributes with Prism, our award-winning psychometric algorithm.</p>
                        </div>
                        <div class="media js-reveal-on-scroll js-fade-in-up">
                            <div class="decor">
                                <img
                                    class="colors d-none d-md-block"
                                    src="~img/teams/ColorsBody1.svg"
                                    alt=""
                                />
                            </div>
                            <div class="lottie-tab-container">
                                <img class="lottie-placeholder" src="~img/teams/stack/UnlockExtraordinary.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="teams-layout teams-layout-2">
                        <div class="decor">
                            <img
                                class="colors d-none d-md-block"
                                src="~img/teams/ColorsBody2.svg"
                                alt=""
                            />
                        </div>
                        <div class="content">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">The Prism “Portrait” is the Story of You (and Every Person on Your Team)</h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Learn how your team performs under pressure, makes decisions, manages conflict, and processes information. Uncover motivators and fundamental needs that impact engagement, performance, and wellbeing. And harness Prism insights to adapt your personal leadership style, so you can become more agile, empathetic, and impactful in your role, based on the people you lead.</p>
                        </div>
                        <div class="media js-reveal-on-scroll js-fade-in-up">
                            <div class="lottie-tab-container">
<!--                                <img class="lottie-placeholder offset-5" src="~img/teams/stack/ThePrism.svg" alt="" />-->
                                <img
                                    width="460" height="460"
                                    class="lottie-placeholder offset-10"
                                    src="~img/teams/stack/ThePrism@1x.png"
                                    srcset="~img/teams/stack/ThePrism@1x.png 1x, ~img/teams/stack/ThePrism@2x.png 2x"
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="shared-section">
                <div class="container">
                    <div class="call-to-action">
                        <div class="decor js-reveal-on-scroll js-scale-in">
                            <img
                                class="colors d-none d-md-block"
                                src="~img/teams/ColorsCTA.svg"
                                alt=""
                            />
                            <img
                                class="colors d-block d-md-none"
                                src="~img/teams/ColorsCTA@mobile.svg"
                                alt=""
                            />
                        </div>
                        <div class="content">
                            <h3 class="heading js-reveal-on-scroll js-split-to-lines">Ready to unlock<br/> extraordinary leadership?</h3>
                            <div class="buttons js-reveal-on-scroll">
                                <a href="#" class="btn btn-lg btn-primary">Try Prism Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="shared-section section-teams">
                <div class="container">
                    <div class="teams-layout teams-layout-3">
                        <div class="content">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">Unlock Extraordinary Leadership with the Power of Self-Knowledge</h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Learn how two team members are similar or different with Relationship Advisor. Select any team member and immediately receive science-driven insights and advice to improve collaboration, based on how each person is uniquely wired.</p>
                        </div>
                        <div class="media js-reveal-on-scroll js-fade-in-up">
                            <div class="lottie-tab-container">
                                <img class="lottie-placeholder" src="~img/teams/stack/BuildStrong.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="teams-layout teams-layout-4">
                        <div class="content">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">Achieve Speed-to-Relationship.</h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Relationship Advisor empowers new and existing team members to accelerate trusted relationships, while improving communication, reducing conflict, and increasing productive collaboration.</p>
                            <div class="buttons">
                                <a href="pricing.html" class="btn btn-lg btn-primary">Subscribe Now</a>
                            </div>
                        </div>
                        <div class="media js-reveal-on-scroll js-fade-in-up">
                            <div class="decor">
                                <img
                                    class="colors d-none d-md-block"
                                    src="~img/teams/ColorsBody3.svg"
                                    alt=""
                                />
                            </div>
                            <div class="lottie-tab-container">
                                <img class="lottie-placeholder offset-15" src="~img/teams/stack/AchieveSpeed.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="teams-layout teams-layout-5">
                        <div class="content">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">Leverage Powerful AI-driven Coaching in the Flow of Work</h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Use “My Coach” to personalize your leadership for impact. My Coach delivers actionable advice to successfully navigate any challenge and coach individual team members, based on how you and your team members are wired.</p>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">From managing difficult conversions to giving performance feedback, and from improving team dynamics to fostering psychological safety, My Coach delivers AI-driven guidance in the flow of work – when you need it most as a leader.</p>
                            <div class="buttons js-reveal-on-scroll">
                                <a href="pricing.html" class="btn btn-lg btn-primary">Subscribe Now</a>
                            </div>
                        </div>
                        <div class="media js-reveal-on-scroll js-fade-in-up">
                            <div class="decor">
                                <img
                                    class="colors d-none d-md-block"
                                    src="~img/teams/ColorsBody4.svg"
                                    alt=""
                                />
                            </div>
                            <div class="lottie-tab-container">
                                <img class="lottie-placeholder" src="~img/teams/stack/LeveragePower.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="teams-layout teams-layout-6">
                        <div class="content">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">Maximize the Success of Every Meeting </h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Leverage science-driven meeting tips before every 1-on-1 meeting. Get advice about “How to Approach” and “What to Avoid,” based on each team members’ Prism Portrait. Integrate personalized Meeting Tips with your calendar to maximize the success of every meeting and conversation.</p>
                            <div class="buttons js-reveal-on-scroll">
                                <a href="pricing.html" class="btn btn-lg btn-primary">Subscribe Now</a>
                            </div>
                        </div>
                        <div class="media js-reveal-on-scroll js-fade-in-up">
                            <div class="lottie-tab-container">
                                <img class="lottie-placeholder" src="~img/teams/stack/MaximizeSpeed.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="teams-layout teams-layout-7">
                        <div class="content">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">Empower Your Team with Personalized Development</h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Provide every member on your team with a fully automated, science-driven development journey, personalized based on how they’re wired.</p>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Empower your team members to increase their self-awareness, master high-impact people skills such as emotional, relational and team intelligence, and grow their own leadership capabilities.</p>
                        </div>
                        <div class="media js-reveal-on-scroll js-fade-in-up">
                            <div class="decor">
                                <img
                                    class="colors d-none d-md-block"
                                    src="~img/teams/ColorsBody5.svg"
                                    alt=""
                                />
                            </div>
                            <div class="lottie-tab-container">
                                <img class="lottie-placeholder" src="~img/teams/stack/EmpowerYourTeam.svg" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="teams-layout teams-layout-8">
                        <div class="content">
                            <h3 class="title js-reveal-on-scroll js-split-to-lines">Prism + Harvard Business Publishing</h3>
                            <p class="paragraph js-reveal-on-scroll js-split-to-lines">Enrich your team’s personalized development journeys with seamless access to more than 17,000 top-tier resources and learning programs from Harvard Business Publishing. Harness the collective wisdom of renowned authorities, Harvard academics, and industry thought leaders to support continuous learning and growth.</p>
                        </div>
                        <div class="media js-reveal-on-scroll js-fade-in-up">
                            <div class="decor">
                                <img
                                    class="colors d-none d-md-block"
                                    src="~img/teams/ColorsBody6.svg"
                                    alt=""
                                />
                            </div>
                            <div class="lottie-tab-container">
                                <img class="lottie-placeholder" src="~img/teams/stack/Harvard.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="shared-section section-cta">
                <div class="decor">
                    <img
                        class="colors d-none d-md-block"
                        src="~img/teams/ColorsCTA2.svg"
                        alt=""
                    />
                    <img
                        class="colors d-block d-md-none"
                        src="~img/teams/ColorsCTA2@mobile.svg"
                        alt=""
                    />
                </div>
                <img class="hexagon js-reveal-on-scroll js-fade-in" src="~img/teams/Hexagon.svg" alt="" />
                <div class="container">
                    <div class="content">
                        <h3 class="heading js-reveal-on-scroll js-split-to-lines">Ready to Elevate Your Leadership and Achieve Extraordinary Team Results?</h3>
                        <div class="buttons js-reveal-on-scroll">
                            <a href="pricing.html" class="btn btn-lg btn-white">Buy Now</a>
                            <a href="contact.html" class="btn btn-lg btn-outline-white">Contact Sales</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div class="decor">
                <img
                    class="colors d-none d-md-block"
                    src="~img/ColorsFooter.svg"
                    alt=""
                />
                <img
                    class="colors d-block d-md-none"
                    src="~img/ColorsFooter@mobile.svg"
                    alt=""
                />
            </div>
            <div class="container">
                <div class="footer-layout">
                    <div class="footer-top">
                        <div class="column">
                            <a href="index.html" class="footer-brand">
                                <img src="~img/logo.svg" alt="SurePeople" />
                            </a>
                            <ul class="footer-social">
                                <li><a href="https://www.facebook.com/SurePeopleSocial/" target="_blank"><img src="~img/icons/facebook.svg" alt="Facebook" /></a></li>
                                <li><a href="https://www.linkedin.com/company/surepeople/" target="_blank"><img src="~img/icons/linkedin.svg" alt="LinkedIn" /></a></li>
                                <li><a href="https://twitter.com/SurePeople/" target="_blank"><img src="~img/icons/x.svg" alt="X" /></a></li>
                                <li><a href="https://www.youtube.com/c/SurePeople/" target="_blank"><img src="~img/icons/youtube.svg" alt="YouTube" /></a></li>
                            </ul>
                        </div>
                        <div class="column">
                            <div class="footer-language d-none d-md-flex">
                                <div class="label">Language</div>
                                <div class="dropdown js-dropdown js-language-selector">
                                    <div class="dropdown-toggler js-dropdown-toggler">English</div>
                                    <div class="dropdown-menu">
                                        <ul class="dropdown-list">
                                            <li class="dropdown-list-item active">English</li>
                                            <li class="dropdown-list-item">Spanish</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-stores">
                                <a href="#">
                                    <img src="~img/icons/app-store.svg" alt="Download on the App Store" />
                                </a>
                                <a href="#">
                                    <img src="~img/icons/google-play.svg" alt="Get it on Google Play" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <h6 class="footer-title">Company</h6>
                        <ul class="footer-links">
                            <li><a href="about.html">About</a></li>
                            <li><a href="leadership.html">Leadership</a></li>
                            <li><a href="difference.html">Our Difference</a></li>
                            <li><a href="https://www.surepeople.com/community/">Evolve Blog</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h6 class="footer-title">Sales</h6>
                        <ul class="footer-links">
                            <li><a href="contact.html">Contact Sales</a></li>
                            <li><a href="pricing.html">Plans & Pricing</a></li>
                            <li><a href="partners.html">Let's Partner</a></li>
                            <li><a href="book-a-demo.html">Request a Demo</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h6 class="footer-title">Support</h6>
                        <ul class="footer-links">
                            <li><a href="get-started.html">Getting Started</a></li>
                            <li><a href="support.html">Support Center</a></li>
                            <li><a href="feedback.html">Feedback</a></li>
                            <li><a href="#">Mobile App Downloads</a></li>
                            <li><a href="trust-center.html">Trust Center</a></li>
                        </ul>
                    </div>
                    <div class="footer-bottom">
                        <div class="footer-copyright">
                            <p class="paragraph">Copyright&copy; 2024 SurePeopIe, Inc. All Rights Reserved.</p>
                        </div>
                        <ul class="footer-links-small">
                            <li><a href="privacy.html">Privacy</a></li>
                            <li><a href="#">User Agreement</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>